# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.npmrc

backup/
.env
# Add this to your .gitignore file:

# 3D Models
public/models/*.glb
public/models/*.hdr
public/models/*.enc
public/models/character.glb
*.glb
*.hdr